* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: white;
    background-color: black;
}

.top {
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 20px;
    border: 2px solid white;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
}

.list-products {
    padding-left: 40px;
}

#opcoes {
    padding-left: 40px;
}

.produtos {
    padding: 20px;
}

.cerveja {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.card-produto {
    align-content: center;
    border-radius: 5px;
    padding: 10px 10px;
    width: 40%;
    border: 2px solid white;
    margin-top: 20px;
    margin-bottom: 20px;
}

.img-container {
    width: 100%;
}
img {
    width: 100%;
}
